body {
	background: lightblue;
}
#title{
    color: white;
}
#output{
    border-top: red;
    background-color: white;
    float: none;
    border-radius: 10px;
    height: 35px;
    border-style: outset;
    border-width: 10px;
    border-bottom: white;
    border-left: white;
    border-right: white;
}
.margin_name{
    margin-left: 25px;
    margin-bottom: 15px;
}
span{
    color: black;
}
.row1{
    display: inline-flex;
    float: none;
    font-size: larger;
}
.row1 span{
    margin-top: 8px;
    color: firebrick;
    font-weight: bolder;
}